# This file should be copied in your home directory and should be called by
# your .bashrc, .profile, .zshrc , etc files


# Update this variable with the path of your "do" or "devops" directory
export DO_DIR=./do
